$color-black: #2C2C2C;
$color-fair-green: #D7EFE7;
$color-background-gray: #B0BAC3;

// Assessment Colors
$assessment-color-border-purple: #4939B3;
$assessment-color-background-purple: #9585FF;

$assessment-color-border-red: #A62E1C;
$assessment-color-background-red: #F26D5A;

$assessment-color-border-yellow: #E8C656;
$assessment-color-background-yellow: #FFEC6B;

$assessment-color-border-green: #46C16C;
$assessment-color-background-green: #8CE1A1;

$assessment-color-border-brown: #E1D0C7;
$assessment-color-background-brown: #BFA393;

// Clues Colors
$clue-color-red: #E77555;
$clue-color-green: #45AE45;
$clue-color-yellow: #EfA63C;
$clue-color-blue: #3496FF;
$clue-color-purple: #C765E7
